/* Root */
:root {
    font-family: ui-monospace, monospace;
    background-color: black;
    color: white;
}

body {
    padding: 0 1rem;
    margin: 1rem 0;
}

/* Input */
main {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1ch;
    position: sticky;
    bottom: 0;
    background-color: black;
    color: white;
    align-items: center;
    min-height: 2rem;
    line-height: 2;
}

input {
    border: none;
    font-family: ui-monospace, monospace;
    font-size: 1rem;
    background-color: black;
    color: white;
    padding: 0;

    &:focus-visible {
        outline: none;
    }
}

/* Log */
pre {
    margin: 0;
    line-height: 2;
    font-size: 1rem;
    font-family: ui-monospace, monospace;
}

a {
    color: white;
}