@font-face {
    font-family: MonaspaceNeon;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    font-feature-settings:
        "liga" 1,
        "calt" 1;
    src: url("./MonaspaceNeon.woff2");
}

/* Root */
:root {
    --mono: MonaspaceNeon, ui-monospace, monospace;

    font-family: var(--mono);
    background-color: black;
    color: white;
}

body {
    padding: 1rem;
    margin: 0;
}

/* Input */
main {
    display: flex;
    line-height: 2;
}

input {
    border: none;
    font-family: var(--mono);
    font-size: 1rem;
    background-color: black;
    color: white;
    padding: 0;
    flex-grow: 1;
    margin-left: 1ch;
    height: 2rem;

    &:focus-visible {
        outline: transparent;
    }
}

/* Log */
pre {
    margin: 0;
    line-height: 2;
    font-size: 1rem;
    font-family: var(--mono);
    white-space: break-spaces;
}

a {
    color: white;
}
